/*
Sample CSS for registration form. Taken from https://www.simbiat.ru
*/

/*Center form content*/
#registration {
    text-align: center;
}

/*Used to adjust placement of labels*/
.float_label_div {
    position: relative;
    /*5px margin on bottom and top, yet center the element in parent*/
    margin: 5px auto;
    text-align: center;
}

/*Fix size*/
.float_label_div,
[id^=regform_] {
    /*Width corresonds to characters.
    10 looks the lowest number that makes placeholders more or less readable.
    Longer than 65 characters is unnecessary, since we limit username at 64. 65 is used since with 64 there is a higher chacne of truncation*/
    min-width: 10ch;
    max-width: 65ch;
    min-height: 24px;
    max-height: 48px;
}

/*Mark fields as required, when they are*/
[id^=regform_][required]+label:after {
    content: '*';
    color: red;
}

[id^=regform_] {
    /*Force text cursor*/
    cursor: text;
}

/*Visually hide placeholder since we are using label instead of it*/
[id^=regform_]::-webkit-input-placeholder {
    opacity: 0;
}

/*Style border when input is selected*/
[id^=regform_]:focus,
[id^=regform_]:hover {
    border-color: hsl(182, 100%, 22%);
    box-shadow: 1px 1px 10px hsla(182, 100%, 32%, 1), -1px -1px 10px hsla(182, 100%, 32%, 1);
}

/*Style invalid input. Ideally should be repalce by :user-invalid but it's currently only supported by Firefox*/
[id^=regform_]:invalid:focus:not(:placeholder-shown),
[id^=regform_][required]:invalid:focus:placeholder-shown {
    border-color: red;
    box-shadow: 1px 1px 10px red, -1px -1px 10px red;
}

/*Style valid inputs on focus*/
[id^=regform_]:valid:focus {
    border-color: green;
    box-shadow: 1px 1px 10px green, -1px -1px 10px green;
}

/*Common label settings*/
[id^=regform_]+label {
    transition: all 0.2s ease;
    touch-action: manipulation;
    position: absolute;
    display: block;
    color: hsl(182, 100%, 32%);
    top: -7px;
    left: 10px;
}

/*Style label when placeholder is shown. Essentially place it instead of placeholder.*/
[id^=regform_]:placeholder-shown+label {
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
    top: -15px;
}

/*Move label to top on select and when placeholder is not shown*/
[id^=regform_]:not(:placeholder-shown)+label,
[id^=regform_]:focus+label {
    transform: translate(0, 0) scale(1);
    top: -10px;
    /*We need to make the color a little lighter to make it readable on the border*/
    color: hsl(182,50%,50%);
}

.rememberme_div {
    line-height: 24px;
}

#reg_form_rememberme,
#reg_form_rememberme+label {
    color: hsl(0, 4%, 95%);
    vertical-align: middle;
    display: inline-block;
}
#reg_form_rememberme+label {
    margin-left: 5px;
}